:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --text-color-grey: #757575;
  --text-color-black: #212121;
  ---text-color-white: #FFFFFF;
  --accent-color: #2196F3;
  --items-color: #AFB1B8;
  --bg-color-white: #FFFFFF;
  --bg-color-black: #2F303A;
  --bg-color-grey: #F5F4FA;
  --overlay-bg-card: rgba(33, 150, 243, 0.9);
  --border-color: #ECECEC;
  --card-gap: 30px;
  --card-item: 1;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hero-gradient: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--text-color-grey);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.agreement__text {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  user-select: none;
  text-underline-position: under;
}
@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.agreement__icon {
  flex-shrink: 0;
}
.agreement__link {
  color: var(--accent-color);
}
.agreement__icon--uncheck {
  transition: fill var(--animation);
}
.agreement__icon--check {
  opacity: 0;
  transition: opacity var(--animation);
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--uncheck {
  opacity: 0;
  transition: opacity var(--animation);
}
.agreement__checkbox:focus + .agreement__icon .agreement__icon--uncheck, .agreement__checkbox:hover + .agreement__icon .agreement__icon--uncheck {
  fill: var(--accent-color);
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--check {
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation), visibility var(--animation);
}
@media (max-width: 767.98px) {
  .backdrop {
    overflow-y: scroll;
  }
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.card-item {
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.17;
  font-size: 24px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__text--upper {
  color: #000000;
}
.logo__text--lower {
  color: var(---text-color-white);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(---text-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 9px 32px;
  border: none;
  min-width: 200px;
  transition: background-color var(--animation);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.mobile-menu {
  text-align: left;
  padding: 48px 40px;
  background-color: var(--bg-color-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 30;
  transition: transform var(--animation);
}
.mobile-menu.is-open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(0);
  opacity: 1;
  overflow: auto;
  gap: 64px;
}
@media (max-width: 767.98px) {
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    flex-grow: 1;
    padding: 0;
  }
}

.menu-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  align-items: center;
  margin-left: auto;
  z-index: 40;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  transition: color var(--animation);
}
.menu-button.is-open {
  position: fixed;
}
.menu-button:hover, .menu-button:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button__burger-icon {
  display: block;
  fill: currentColor;
}
.menu-button.is-open .menu-button__burger-icon {
  display: none;
}
.menu-button__close-mobile {
  display: none;
  fill: currentColor;
}
.menu-button.is-open .menu-button__close-mobile {
  display: block;
}

.mobile-social {
  display: none;
}
@media (max-width: 767.98px) {
  .mobile-social {
    display: flex;
  }
}
.mobile-social__list {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social__list:last-child {
  border: 0;
  padding-right: 0;
}
.mobile-social__list:first-child {
  padding-left: 0;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-social__link {
    font-size: 18px;
  }
}

.modal {
  position: absolute;
  max-height: 609px;
  top: 10%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%) scale(1);
  transition: transform var(--animation), visibility var(--animation);
  background-color: var(--bg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon-btn {
  transition: fill var(--transition);
}
.modal-close-btn:hover .close-icon-btn, .modal-close-btn:focus .close-icon-btn {
  fill: var(---accent-color);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__link {
  display: block;
  color: var(--text-color-black);
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current-page {
  color: var(--accent-color);
  position: relative;
}
.nav__link--current-page::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
@media (max-width: 767.98px) {
  .nav__link--current-page::after {
    display: none;
  }
}

.nav--margin-left {
  margin-left: 0;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--hero-gradient), url(../images/bgall/bg-desktop@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--hero-gradient), url(../images/bgall/bg-desktop@2x.png);
  }
}
@media (max-width: 767.98px) {
  .overlay {
    background-image: var(--hero-gradient), url(/images/bgall/bg-mobile@1x.jpg);
    background-size: cover;
  }
}
@media (max-width: 767.98px) and (min-device-pixel-ratio: 2), (max-width: 767.98px) and (min-resolution: 192dpi), (max-width: 767.98px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--hero-gradient), url(../images/bgall/bg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: var(--hero-gradient), url(../images/bgall/bg-tablet@1x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--hero-gradient), url(../images/bgall/bg-tablet@2x.jpg);
  }
}

.product-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  background-color: var(--bg-color-grey);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 5px 22px;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}
.product-btn:hover, .product-btn:focus {
  color: var(---text-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.product-btn--current {
  color: var(---text-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  gap: 15px 8px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .portfolio__list {
    justify-content: left;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--items-color);
  transition: fill var(--animation), background-color var(--animation);
}
.socials__link:hover, .socials__link:focus {
  fill: var(--bg-color-white);
  background-color: var(--accent-color);
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.title {
  color: var(--text-color-black);
}

@media (max-width: 1199.98px) {
  .form {
    align-items: center;
  }
}
.form__input {
  background-color: transparent;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: var(---text-color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 358px;
  }
}
.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-field:not(last-child) {
  margin-bottom: 10px;
}

.modal-form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form-input {
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: border-color var(---animation);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: fill var(--animation);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(---animation);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desck {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
.modal-form-check-desck::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid rgba(33, 33, 33, 0.2);
  margin-right: 7px;
}
.modal-form-check:checked + .modal-form-check-desck::before {
  background-color: var(--accent-color);
  background-image: url(../images/svg/check.svg);
}
.modal-form-check:focus + .modal-form-check-desck::before {
  outline: 2px solid var(---accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-check-desck {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form-police-link {
  color: var(--accent-color);
}

.modal-form-submit {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(---text-color-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: color var(--animation) background-color var(--animation) box-shadow var(--animation);
}

.header {
  position: relative;
  border-bottom: 1px solid var(--border-cl);
}
@media (max-width: 767.98px) {
  .header__mobile {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__contact-list {
  display: flex;
}
@media (max-width: 767.98px) {
  .header__contact-list {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;
    margin-top: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact-list {
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-left: auto;
  }
}
@media (max-width: 767.98px) {
  .header__item:first-child {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.1764705882;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-item:last-child {
    margin-left: 50px;
  }
}
.header__contact-link {
  display: inline-flex;
  align-items: center;
  color: var(--grey-text-cl);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .header__contact-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-link {
    font-size: 16px;
  }
}
.header__logo {
  margin-right: 93px;
}
.header__contact-link:hover, .header__contact-link:focus {
  color: var(--accent-cl);
}
.header__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .header--flex {
    display: flex;
    align-items: center;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--text-color-grey);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(---text-color-white);
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__btn {
  margin: 0 auto;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .about__title {
    text-align: center;
  }
}
.about__thumb {
  display: flex;
  background-color: var(--bg-color-grey);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    --card-item: 4;
  }
}

.work {
  padding-top: 0;
}
@media (max-width: 1199.98px) {
  .work {
    display: none;
  }
}
.work__thumb {
  position: relative;
}
.work__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: center;
}
.work__text-desc {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(---text-color-white);
}
.work__list {
  --card-item: 3;
}

.team {
  background-color: var(--bg-color-grey);
}
@media screen and (min-width: 768px) {
  .team {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    --card-item: 4;
  }
}
.team__content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  background: var(--bg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .team__content {
    margin-bottom: 30px;
  }
}
.team__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients__list {
  display: flex;
  --card-item: 2;
}
@media screen and (min-width: 768px) {
  .clients__list {
    --card-item: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    --card-item: 6;
  }
}
.clients__link {
  display: flex;
  border: 1px solid currentColor;
  border-radius: 4px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: var(--items-color);
  transition: color var(--animation);
}
.clients__icon {
  fill: currentColor;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.product {
  --card-item: 1;
}
@media screen and (min-width: 768px) {
  .product {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    --card-item: 3;
  }
}
.product__content {
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-top: none;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-black);
  margin-bottom: 4px;
}
.product__desc {
  font-size: 16px;
  line-height: 1.88;
}
.product__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--animation);
}
.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__link:hover .product__overlay, .product__link:focus .product__overlay {
  transform: translateY(0);
}
.product__card {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-card);
  transition: transform var(--animation);
}
.product__text {
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(---text-color-white);
  height: 100%;
  overflow: auto;
}

.footer {
  background-color: var(--bg-color-black);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1199.98px) {
  .footer {
    text-align: center;
  }
}
.footer__contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    gap: 70px;
    align-items: baseline;
    flex-direction: row;
  }
}
@media (max-width: 767.98px) {
  .footer__wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__wrap {
    display: flex;
    justify-content: center;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
}
@media (max-width: 1199.98px) {
  .footer__form-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-field {
    display: flex;
    gap: 12px;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__list {
  margin-bottom: 9px;
}
.footer__list:last-child {
  margin-bottom: 0;
}
.footer__link--transparent {
  transition: color var(--animation);
}
.footer__link--transparent:hover, .footer__link--transparent:focus {
  color: var(---text-color-white);
}
.footer__link {
  color: var(---text-color-white);
}
@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: auto;
  }
}
.footer__text {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(---text-color-white);
  margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .footer__text {
    justify-content: center;
  }
}
.footer__socials {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(---text-color-white);
}
.footer__btn {
  margin: 0 auto;
  padding: 10px 28px;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */