.footer-add__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-logo-footer);
     margin-bottom: 20px;
}




.footer-add-container {
    margin-right: 70px;
}

.footer-add__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-add__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: fill var(--transition), background-color var(--transition);

    &:hover,
    &:focus {
    background-color: var(--acsent-logo-color);
}
}

.footer-add__icon{
    fill: var(--text-color-button-main);
    .footer-add__link:hover &,
    .footer-add__link:focus & {
    fill: var(--text-logo-footer);
}
}




