.address  {
    margin-top: 20px;
}


 .address__item .address__geo {
font-style: normal;
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.address {
    font-style: normal;
}

.address__list {
    display: flex;
    flex-direction: column;
}
.address__geo {
    margin-bottom: 9px;
    transition: color var(--transition);
    &:hover,
    &:focus{
    color: var(--hover-text-color);
}

}



.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__email{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;
transition: color var(--transition);

&:hover,
&:focus {
    color: var(--hover-text-color);
}
}

.address__phone-number {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;
transition: color var(--transition);  
&:hover,
&:focus {
    color: var(--hover-text-color);
}
}

