.footer-subscribe {
    display: block;
    margin-left: 93px;
  }
 
 .form-footer {
     display: flex;
     align-items: center;
     }

 
 
 .footer-subscribe__text{
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #FFFFFF;
 margin-bottom: 20px;
 }
 
 .form-footer__input {
     width: 358px;
     height: 50px;
     background-color: #2f303a;
     margin-right: 12px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 16px;
     border-radius: 4px;
     line-height: 1.25;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
    
     &::placeholder {
     font-size: 16px;
     line-height: 1.25;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
 }
    }
 

 
 .form-footer__button {
     color: #ffffff;
     font-size: 16px;
     font-weight: 700;
     line-height: 1.875;
     letter-spacing: 0.06em;
     background-color: #2196f3;
     width: 200px;
     height: 50px;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 29px;
     padding-right: 28px;
     cursor: pointer;
     border: none; }
 
 .form-footer__text {
 font-size: 16px;
 line-height: 1.875;
 text-align: center;
 letter-spacing: 0.06em;
 color: #FFFFFF;
 margin-right: 10px;
 }
 
 