.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headlines-color);
    margin-bottom: 50px;
    }
    .clients__list {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .clients__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        transition: border var(--transition);
        &:hover,
        &:focus {
        border: 1px solid var(--acsent-logo-color)
    }
    
    }
    .clients__icon {
        fill: #AFB1B8;
        transition: fill var(--transition);

        .clients__link:hover &,
        .clients__link:focus & {
        fill: var(--acsent-logo-color);
    }
    
    }
    
    
    