.agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;

    &__text {
            font-size: 12px;
            line-height: calc(14 / 12);
            letter-spacing: 0.03em;
    
            user-select: none;
            text-underline-position: under;

            @include mq(desk) {
                font-size: 14px;
                line-height: calc(24 / 14);
            }
        }

        &__icon {
            flex-shrink: 0;
        }
    
        &__link {
            color: var(--accent-color);
        }
    
        &__icon--uncheck {
            transition: fill var(--animation);
        }
    
        &__icon--check {
            opacity: 0;
            transition: opacity var(--animation);
        }
    
        &__checkbox:checked+&__icon &__icon--uncheck {
            opacity: 0;
            transition: opacity var(--animation);
        }
    
        &__checkbox:focus+&__icon &__icon--uncheck,
        &__checkbox:hover+&__icon &__icon--uncheck {
            fill: var(--accent-color);
        }
    
        &__checkbox:checked+&__icon &__icon--check {
            opacity: 1;
        }
}