.logo {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1.17;
    font-size: 24px;
    letter-spacing: 0.03em;

    @include mq(desk) {
        font-size: 26px;
        line-height: 1.19;
    }

    &__text--upper {
            color: #000000;
        }
    
    &__text--lower {
            color: var(---text-color-white);
        }
}
