.form {
   
    @include mq(noDesk) {
        align-items: center;
    }
    
    &__input {
            background-color: transparent;
            padding: 15px 16px;
            width: 100%;
            height: 50px;
            color: var(---text-color-white);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter:
                drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;

            @include mq(tab) {
                width: 450px;
            }

            @include mq(desk) {
                width: 358px;
            }
        }
    
        &__input::placeholder {
            font-size: 16px;
            line-height: calc(20 / 16);
    
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}


.modal-form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headlines-color);
}


.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-input-desc {
    display: block;    
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;

}

.modal-form-field:not(last-child) {
    margin-bottom: 10px;
}

.modal-form-field:nth-child(4) {
margin-bottom: 20px;
}

.modal-form-input {
    letter-spacing: 0.01em;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    transition: border-color var(---animation);

    &:focus {
    outline: none;
    border-color: var(--accent-color);
    & + .modal-form-input-icon {
    fill: var(--accent-color);
}
}

}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    transition: fill var(--animation);
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding:12px 16px ;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(---animation);

    &:focus {
    outline: none;
    border-color: var(--accent-color);
}

    &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
    
}





.modal-form-check-desck {
    display: flex;
    align-items: center ;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;

    &::before {
    display: block;
    content:'';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid rgba(33, 33, 33, 0.2) ;
    margin-right: 7px;

    .modal-form-check:checked + &  {
    background-color: var(--accent-color);
    background-image:url(../images/svg/check.svg);
}

    .modal-form-check:focus + & {
    outline: 2px solid var(---accent-color);
}

}
    
}

@media screen and (min-width: 1200px) {
    .modal-form-check-desck {
        font-size: 14px;
        line-height: 1.71;
    }
}
    



.form-police-link {
    color: var(--accent-color);
}

.modal-form-submit {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(---text-color-white);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 55px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: color var(--animation) background-color var(--animation) box-shadow var(--animation);


  
        
}