.nav {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.02em;

        // color: var(--text-color-black);

        @include mq(tab) {
        flex-direction: row;
        // font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        }
    }

    &__item:not(:last-child) {
        
       @include mq(desk) {
        margin-right: 50px;
       }
        
        // font-size: 40px;
        // line-height: 1.17;
        // @include mq(tab) {
        //     font-size: 14px;
        //     line-height: 1.14;
        // }
    }

    &__link {
        display: block;
        color: var(--text-color-black);
       
    transition: color var(--animation);

    @include mq(tab) {
        // display: flex;
        // position: relative;
        // align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    &__link--current-page {
        color: var(--accent-color);
        position: relative;
    }

    &__link--current-page::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;

        // test 
      

        @include mq(mob-only) {
            display: none;
        }
    }
}

.nav--margin-left {
    margin-left: 0;

    // @include mq(tab) {
    //     margin-left: 88px;
    // }

    // @include mq(desk) {
    //     margin-left: 92px;
    // }
}