.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--hero-gradient),
        url(/images/bgall/bg-desktop@1x.png);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: var(--hero-gradient),
             url(/images/bgall/bg-desktop@2x.png);
        }

        @include mq(mob-only) {
            background-image: var(--hero-gradient),
                    url(/images/bgall/bg-mobile@1x.jpg);
                    background-size: cover;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: var(--hero-gradient),
            url(/images/bgall/bg-mobile@2x.jpg);
                        }
        }


        @include mq(tab) {
            background-image: var(--hero-gradient),
            url(/images/bgall/bg-tablet@1x.jpg);
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: var(--hero-gradient),
            url(/images/bgall/bg-tablet@2x.jpg);
                     }
                 }


}