h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;}

    ul,ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    img {
        max-width: 100%;
        display: block;
    }

    button {
        cursor: pointer;
    }
    body { 
    font-family: var(--primary-font);
    font-weight: 400;
}
.list {
    list-style: none;

}

.link  {
    text-decoration: none;
}