.footer {
    background-color: var(--bg-color-black);
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(noDesk) {
        text-align: center;
    }
  

    &__contacts {
            font-style: normal;
            color: rgba(255, 255, 255, 0.6);
        }
    
        &__container {
            display: flex;
            flex-direction: column;
            gap: 60px;
            

            @include mq(desk) {
                display: flex;
                gap: 70px;
                align-items: baseline;
                flex-direction: row;
            }
            
        }

    &__wrap {

        @include mq(mob-only) {
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
       

        @include mq(tab-only) {
            display: flex;
            justify-content: center;
            gap: 165px;
        }
        
        @include mq(desk) {
            display: flex;
            align-items: baseline;
            gap: 70px;
        }
    }
    
        &__form-field {

            @include mq(noDesk) {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }
            

            @include mq(desk) {
                   display: flex;
                    gap: 12px;
                }
        }

        &__logo {
            display: inline-block;
            margin-bottom: 20px;
        }
    
        &__list {
            margin-bottom: 9px;
        }
    
        &__list:last-child {
            margin-bottom: 0;
        }
    
        &__link--transparent {
            transition: color var(--animation);
        }
    
        &__link--transparent:hover,
        &__link--transparent:focus {
            color: var(---text-color-white);
        }
    
        &__link {
            color: var(---text-color-white);
        }

        &__form {
            @include mq(desk) {
                margin-left: auto;
            }
           
        }
        
        
        &__text {
            display: flex;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: var(---text-color-white);
            margin-bottom: 20px;

            @include mq(noDesk) {
                justify-content: center;
            }
            
        }
    
        &__socials {
            background-color: rgba(255, 255, 255, 0.1);
            fill: var(---text-color-white);
        }
    
        &__btn {
            margin: 0 auto;
            padding: 10px 28px;
            gap: 10px;
        }
}