
.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}



.container__page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}



// .page-header {
//     padding-top: 25px;
//     padding-bottom: 25px;
//     border-bottom:  1px solid #ECECEC;
// }

// .container__page-header {
//     display: flex;
//     align-items: center;
// }
